body{
    font-family:"Oswald";
    height:100%;
}
form{
    text-align: center;
}
header{
    text-align: center;
    background-color: blanchedalmond;
}
.urtext{
    color:red;
    font-style:italic;
}