body{
  font-family:"Oswald";
  background-color: rgb(172, 240, 247);
}
ul.horizontal-list li:not(:first-child, :last-child) {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 7px 7px;
  }

ul.horizontal-list li {
    display: inline-block;
    padding: 0 0.5rem;
    min-width: 12rem;
    text-align: center;
}
ul.vert{
    display:inline-flex;
}

header{
    background-color: rgb(118, 118, 181);
    font-size:12px;
    color:white;
}
.name{
    position: absolute;
    font-size:80px;
    color:white;
    left:480px;
    top:450px;
    text-align: center;
    text-shadow: 2px 3px black;
    text-transform: uppercase;
    font-weight: bold;
}
.pic{
    background-image: url("pics/bg.jpg");
    background-repeat: no-repeat;
}
.info{
    text-align: center;
    font-size: 21px;
}
a {
    color: white;
  }
.listt{
    padding-left: 780px;
    text-align: left;
}
.container{
position: absolute;
	width: 100%;
    top:2500px;
    text-align: center;
    background-color: rgb(118, 118, 181);
    color:white;
}
.authentication{
    padding-left: 350px;
}
.catalogIt{
    padding-left:400px;
}